 *,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .5px;
    
}


.header{
   font-size: 25px;
   display: inline;
   padding: 20px;
   


}

 .banner {
   background-image:linear-gradient(90deg,black 1%, transparent 61%, transparent 80%, black 98%), url("./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
   height: 400px;
   background-size: cover;
   background-position: center;

 } 

.header img {
   height: 27px;
   width: 27px;
}

nav{
   border-radius: 5%;
   top: -10%;
   padding: 2rem;
   border-bottom-width: 5rem;
   border-bottom-color: black;
}

nav a{
   color: black;
   font-size: 15px;
}


.searchBar{
   background-image: url("./assets/1200px-Google_Magnifying_Glass.svg.png");
   
}

  nav ul {
    list-style-type: none;
    position: right;
    top: 0.7rem;
    right: 1rem;
    display: inline;
    font-size: 15px;
    color: black;
    padding: 15px;

 }

 nav li {
    display: inline;
    margin-right: 0.5rem;
 }



 

 .home img {
  background-color: black;
  margin: 0;
  padding: 0;
  border-color: black;
 
 }
  
 .aboutus img {
   height: 40px;
 }

 
 .button1 {
   border: solid;
   color: burlywood;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 2px 2px;
   cursor: pointer;
 }


 footer {
   background-color: rgb(191, 118, 49);
   max-height: 25%;
   
 }


.sectiontitle {
   padding: 5%;
   width: 35px;

}



 .Foot1 {
padding: 75rem;
font-size: 25px;
text-align: center;
margin-top: 50px;
line-height: 300px;

 }

 .foot2 {
padding: 75rem;
margin-top: 50px;
line-height: 300px;
 }

 .footwords1 {
   flex-direction: row-reverse;
justify-content: space-around;
align-items: flex-end; 
 } 
